@use "tools/variables" as var;
@use "tools/mixins";
@use "navigation";
@import "reset";
header {
  background-color: var.$secondary-color;
  display: flex;
  flex-wrap: wrap;
  h1 {
    font-size: map-get(var.$font-sizes, x-large);
    width: 25%;
    padding-top: 5px;
    padding-left: 5px;
  }
  .head-right {
    width: 72.5%;
    text-align: right;
  }
  .logo {
    @include mixins.round-logo;
  }
}

h2 {
  background-color: var.$secondary-color;
  text-align: center;
  font-size: map-get(var.$font-sizes, large);
  padding-bottom: 10px;
  padding-top: 10px;
}
.user-img {
  background-image: url(../avatar.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
}
//img display

.photos-container {
  position: relative;
  background-color: lighten(var.$secondary-color, 5);
  padding-bottom: 20px;
  .slick-prev {
    z-index: 100;
    position: absolute;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .slick-next {
    right: 5px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100;
    position: absolute;
  }
  button {
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
}

.user-post-bar {
  display: flex;
  align-items: center;
  background-color: var.$secondary-color;
  margin-bottom: 8px;

  input {
    width: 50%;
    height: 20px;
    border-radius: 50px;
    padding-left: 10px;
    outline: 1px solid black;
    margin-right: 10px;
  }
  .share-img {
    @include mixins.round-logo;
  }
}
.post-section {
  padding: 5px;
}
.single-post {
  background-color: white;
  padding: 5px;
  margin-bottom: 15px;
  .post-heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  img {
    border-radius: 50%;
    height: 50px;
  }
  span {
    margin-left: 5px;
  }
  p {
    padding: 0px 2px 20px 10px;
    text-indent: 10px;
    line-height: 1.3rem;
  }
  .place-comment {
    margin: 10px 5px 5px;
    padding-right: 5px;
    background-color: darken(white, 10);
  }
  .post-button {
    border: none;
    border-radius: 5px;
    padding: 4px;
    background-color: darken(white, 30);
  }
}
.post-interactions {
  text-align: end;
}
.interaction-bar {
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;

  div {
    padding: 12px;
    position: relative;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
  }
  small {
    margin-right: 25px;
    cursor: pointer;
  }
  div.clicked {
    background-color: rgba(127, 139, 243, 0.3);
  }
  div.like {
    background-image: url("../resources/smile-img.svg");
    background-repeat: no-repeat;
  }
  .comment {
    background-image: url("../resources/comment-img.svg");
    background-repeat: no-repeat;
  }
  div.share {
    background-image: url("../resources/share-img.svg");
    background-repeat: no-repeat;
  }
}

.comments-page {
  display: flex;
  align-items: center;
  button {
    height: fit-content;
    &:hover {
      color: white;
      background-color: var.$secondary-color;
      cursor: pointer;
    }
  }
  span {
    margin: 12px 30px 5px 15px;
    text-decoration: underline;
    &:hover {
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.hide {
  display: none;
}
.show-comments-section {
  z-index: 100;
  position: absolute;
  padding-top: 5px;
  height: fit-content;
  width: 90%;
  text-indent: 10px;
  background-color: rgba(var.$secondary-color, 0.9);
  .user-comment-display {
    background-color: var.$primary-color;
    padding: 3px 3px 0;
    span {
      color: white;
    }
    .user-img {
      height: 30px;
      width: 30px;
    }
  }

  .exit-button {
    height: fit-content;
    height: fit-content;
    position: absolute;
    right: 15px;
    border: none;
    background-color: rgb(230, 124, 124);
    border-radius: 5px;
    margin-top: 5px;
    &:hover {
      color: white;
      scale: 1.08;
    }
  }
  p {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
  }
}
.show-comments-section {
  padding: 10px;
  img {
    border-radius: 100;
    height: 30px;
  }
  p {
    background-color: white;
    border-radius: 5px;
  }
}
