@use "tools/variables" as var;
@use "tools/mixins";
@use "navigation";
@import "reset";
header {
  background-color: var.$secondary-color;
  display: flex;
  flex-wrap: wrap;
  h1 {
    font-size: map-get(var.$font-sizes, x-large);
    width: 25%;
    padding-top: 5px;
    padding-left: 5px;
  }
  .head-right {
    width: 72.5%;
    text-align: right;
  }
  .logo {
    @include mixins.round-logo;
    &:hover {
      background-color: var.$third-color;
    }
  }
}

h2 {
  background-color: var.$secondary-color;
  text-align: center;
  font-size: map-get(var.$font-sizes, large);
  padding-bottom: 10px;
  padding-top: 10px;
}
//img display

.photos-container {
  position: relative;
  button {
    right: 5px;
    top: 30%;
    position: absolute;
    z-index: 3;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#img-display {
  display: flex;
  position: relative;
  overflow-y: scroll;
  background-color: lighten(var.$secondary-color, 5);
  padding-bottom: 5px;
  li {
    border-radius: 50px;
    padding: 5px;
  }
  img {
    border-radius: 15px;
    height: 80px;
  }
}
